requests
psutil
bs4
Pillow
python-telegram-bot
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
aria2p
python-dotenv
tenacity
python-magic
beautifulsoup4
pyrogram
TgCrypto
youtube_dl
feedparser
natsort
heroku3
aiohttp
speedtest-cli
messages
lxml
telegraph
psycopg2-binary
html-telegraph-poster
js2py
lk21
feedparser
gitpython
appdirs
js2py
lk21
pybase64
python-dotenv
python-magic
pytz
